
.layout1{
    width: 100%;
    height: 750px;
    background: #f0f2f5;
    position: relative;

}
.layout1 h2{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;

}
.layout-content1{
    width: 100%;
    height: 100%;
    background: #f0f2f5;
}
.form-item .input{
    width: 60%;
    height: 40px;
    margin: 20px;
}
.layout-content-box{
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 20px;
    margin:20px auto;
}
.ant-table-wrapper{
    width: 90%;
    margin-left: 10px;
}
.list{
    width: 100%;
    height: 600px;
    overflow-y: auto;
}
.button{
    width: 158px;
    height: 40px;
    background: linear-gradient(-90deg,#4e75ff,#0139fd);
    margin: 20px 0 0 25px;
    padding: 0 40px;
}
.wraper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

.addbox {
  width: 45%;
  height: 80%;
  background: #fff;
  overflow-y: auto;
  position: relative;
  top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

 .addbox .addbody {
    width: 100%;
    height: 55px;
    line-height: 55px;
    display: flex;
    border-bottom: 1px solid #ccc;
}
.addbox .addbody span {
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
  }
 .addbox .addbody>h3 {
    flex: 1;
    height: 100%;
    padding-left: 24px;
}
.addbox .addform{
    width: 100%;
    flex: 1;
    border: 0;
    border-bottom: 1px solid #eee;
  }
 .addbox .addform input {
    width: 90%;
    height: 30px;
    margin-left: 30px;
}
.addbox .addform p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
  }
.addsub {
  width: 100%;
  height: 121px;
  padding: 40px 0px;
  margin-top: 25px;
  line-height: 40px;
  text-align: center;
}

.addsub .surebtn {
  height: 40px;
  padding: 0 40px;
  background: #0139fd;
  color: aliceblue;
  margin-right: 10px;
  border: 0;
  border-radius: 5px;
}

.addsub .cancelbtn {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  background: #fff;
  margin-top: 1px;
}
.isshow{
    display: none;
}
.ant-table-wrapper{
    width: 80%;
    margin-left: 10%;
}