.classbox {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.classbox .tit {
  width: 100%;
  height: 71px;
  padding: 20px 0;
  margin-top: 10px;
}

.classbox .show {
  width: 100%;
  height: 386px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.classbox .addbtn {
  width: 150px;
  height: 40px;
  padding: 0 40px;
  background: #0139fd;
  color: aliceblue;
  border-radius: 5px;
  border: 0;
  margin-bottom: 25px;
}

.classbox .table {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.classbox .table thead {
  height: 52px;
  width: 100%;
  padding: 16px;
  display: flex;
  background-color: #f4f7f9;
  border-bottom: 1px solid #eee;
}

.classbox .table thead th:nth-child(1) {
  flex: 5;
}

.classbox .table thead th:nth-child(2) {
  flex: 3;
}

.classbox .table thead th:nth-child(3) {
  flex: 2;
}

.classbox .table tbody {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.classbox .table tbody tr {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.classbox .table tbody tr td:nth-child(1) {
  flex: 5;
}

.classbox .table tbody tr td:nth-child(2) {
  flex: 3;
}

.classbox .table tbody tr td:nth-child(3) {
  flex: 2;
}

.classbox .dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.classbox .dialog .addbox {
  width: 600px;
  height: 275px;
  background: #fff;
  position: relative;
  top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.classbox .dialog .addbox span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.classbox .dialog .addbox .addbody {
  padding: 24px 80px;
}

.classbox .dialog .addbox .addbody h2 {
  text-align: center;
}

.classbox .dialog .addbox .addbody input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid #eee;
}

.classbox .dialog .addbox .addsub {
  width: 100%;
  height: 121px;
  padding: 40px 0px;
  margin-top: 25px;
  line-height: 40px;
  text-align: center;
}

.classbox .dialog .addbox .addsub .surebtn {
  height: 40px;
  padding: 0 40px;
  background: #0139fd;
  color: aliceblue;
  margin-right: 10px;
  border: 0;
  border-radius: 5px;
}

.classbox .dialog .addbox .addsub .cancelbtn {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  background: #fff;
  margin-top: 1px;
}

.classbox .isshow {
  display: block;
}
