.content-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #f0f2f5;
    min-height: 0;
    padding: 0px 24px 24px;
    overflow-y: scroll;
}
.title{
    padding: 20px 0px; 
    margin-top: 10px;
}
.classify{
    background: rgb(255, 255, 255); 
    padding: 24px; 
    border-radius: 10px;
}
.classify-con{
    width: 100%;
    display: flex;
    font-size: 12px;
}
.classifyTitle{
    width: 77px;
    height: 40px;
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:0;
}
.list li{
    list-style: none;
    margin:5px 10px;
}
.exam{
    display: flex;
    font-size: 12px;
    line-height: 30px;
    position: relative;
}
.exam input{
    margin:0 5px;
    border:1px solid #ccc;
    width: 100px;
    height: 25px;
}
.btn{
    height: 30px;
    position: absolute;
    right: 30%;
    top:35%;
}
.content-con{
    margin-top: 15px;
    background: #fff;
    padding:10px;
    border-radius: 10px;
}
.content-con-item{
    font-size: 12px;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.release{
    margin-top: 5px;
}
.target{
    position: absolute;
    right: 10%;
    top:50%;
    font-size: 14px;
}