.warper {
  width: 100%;
  height: 800px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.warper .header {
  display: flex;
  flex-direction: column;
}

.warper .header .tit {
  width: 100%;
  height: 71px;
  padding: 20px 0;
  margin: 10px 0;
}

.warper .header .navbox {
  flex: 1;
<<<<<<< HEAD
  width: 700px;
=======
>>>>>>> luxuan
  display: flex;
  border: 1px solid #ccc;
}

.warper .header .navbox span {
  width: auto;
  padding: 5px 11px;
  border-right: 1px solid #ccc;
}

.warper .header .navbox span:nth-child(6) {
  border: 0;
}

.warper .showbox {
  flex: 1;
}

.warper .showbox h1 {
  font-size: 28px;
<<<<<<< HEAD
  margin-bottom: 14px;
=======
>>>>>>> luxuan
}

.warper .showbox li {
  width: 100%;
  height: 40px;
  display: flex;
}
<<<<<<< HEAD

.warper .showbox .ant-table-row {
  height: 52px;
}
=======
>>>>>>> luxuan
