.warper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    h2{
        padding: 20px 0;
        margin: 10px 0;
    }
    .showbox{
        flex: 1;
        padding: 24px;
        background: #fff;
        border-radius: 10px;
        li{
            margin-bottom: 8px;
            font-size: 16px;
        }
        .for-container{
            width: 100%;
            height: 250px;
            margin-bottom: 24px;
        }
        .subbtn{
            width: 108px;
            height: 40px;
            border: 0;
            background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
            color: #fff;
            border-radius: 5px;
        }
    }
   
}
.dialog{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .5);
    position:relative;
    top: 0;
    left: 0;
}