.content-wrap{
    height: 100%;
    width: 100%;
    background: #EFF1F5;
}

.title{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
}
.classify{
    height: 100%;
    
}
.content-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: #fff;
    border-radius: 10px;
}
.classifyTitle{
    width: 70px;
    text-align: center;
    line-height: 40px;
}
.classify-con{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.classify-con li{
    height: 40px;
    line-height: 40px;
    padding:0 10px;
}
.exam{
    height: 70px;
    display: flex;
    font-size: 12px;
}
.exam input{
    outline: none;
    border:1px solid #000;
    margin: 0 5px;
    
}