body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
.ant-layout{
  padding: 0 !important;
}
/* .ant-layout-content{
  padding: 0 !important;
} */
.ant-menu-dark{
  height: 700px !important;
}